header{
    background-color: $ocean;
    color: $white;
    a{
        color: $white;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-decoration: none;

    }

    #row1{
        padding-top: 2%;
        padding-bottom: 1%;
        #mobilemenu{
            display: grid;
            grid-template-columns: 1% 10% 74% 10% 5%;
            grid-template-areas: ". logo . burger ." ;
    
            #mobilelogo{
                grid-area: logo;
            }
    
            #mobileburger{
                grid-area: burger;
                font-size: 80px;
            }
            
        }  
    
        #desktopnav{
            display: none;
        }

    }
    #row2{
        display: none;
    }
    

    @include lg{
        #row1{
            #p{
                font-size: 16px;
            }
            #mobilemenu{
                display: none;
            }
            #desktopnav{
                display: flex;
                justify-content: space-evenly;
                #headerlogo{
                    width: 8%;
                }
            }
        }
        #row2{
            display: flex;
            justify-content: flex-end;
            #headerbutton{
                background-color: $green;
                color: $white;
                font-family: 'Open Sans', sans-serif;
                border: none;
                padding-top: 1%;
                padding-bottom: 1%;
                padding-right: 1%;
                padding-left: 1%;
                font-size: 16px;
            }
        }

    }

    @include xl{

        a{
            font-size: 20px;

        }
        
        #desktopnav{
            display: flex;
            justify-content: space-evenly;
            #headerlogo{
                width: 8%;
            }
        }
        
        #row2{

            #headerbutton{
                padding-top: 1%;
                padding-bottom: 1%;
                padding-right: 1%;
                padding-left: 1%;
                font-size: 40px;
            }
        }
        p{
            font-size: 28px;
        }

        #mobilemenu{
            display: none;
        }
    }
}