/* =============
    attractions
============= */

#attractions{
    margin-top: 10%;
    #attractionsmainhero{
        #attractionsheading{
            font-family: 'PlayfairDisplay-Bold';
            font-size: 20px;
            color: #EFA541;
            margin-left: 2%;
        }
        #attractionsheroimage{
            #maidofthemisthero{
                width: 100%;
            }
        }
        
        #attractionsherotext1{
            margin-right: 5%;
            margin-left: 5%;
            font-size: 16px;
            margin-bottom: 5%;
            #ht1button{
                background-color: $green;
                padding-left: 3%;
                padding-right: 3%;
                padding-top: 3%;
                padding-bottom: 3%;
                color: white;
                font-family: 'Open Sans', sans-serif;
            }
        }
        #attractionsherotext2{
            display: none;
        }
    }
    #seemoreattractions{
        display: none;
    }

    #attractionshero2{
        #attractionsherospot2{
            #caveofthewindshero{
                width: 100%;
            }
        }
        #text1{
            margin-right: 5%;
            margin-left: 5%;
            margin-bottom: 5%;
            font-size: 16px;
        }
        #ah2button{
            background-color: $green;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 3%;
            padding-bottom: 3%;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }
    }


    #attractionshero3{
        #attractionsherospot3{
            #aquariumofniagarahero{
                width: 100%;
            }
        }
        #text2{
            margin-right: 5%;
            margin-left: 5%;
            margin-bottom: 5%;
            font-size: 16px;
        }
        #ah3button{
            background-color: #408274;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 3%;
            padding-bottom: 3%;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }  
    }



    @include md {
        display: grid;
        grid-template-columns: 0% 50% 50% 0%;
        grid-template-areas: 
        ". h1 h1 ."
        ". h2 h3 ."
        ". . b .";
        
        #attractionsmainhero{
            grid-area: h1;
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-areas: 
            "heading heading"
            "h h"
            "ht1 ht2";
    
            #attractionsheading{
                grid-area: heading;
            }
    
            #attractionsheroimage{
                grid-area: h;

            }
    
            #attractionsherotext1{
                grid-area: ht1;
                color: white;
                background-color: $ocean;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                margin-top: 0%;
                margin-right: 0%;
                margin-left: 0%;
                margin-bottom: 0%;
                font-size: 20px;

                #ht1buttondiv{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 24%;
                    #ht1button{
                        background-color: $green;
                        margin-right: 0%;
                        color: white;
                        font-family: 'Open Sans', sans-serif;
                        white-space: nowrap;
                        border: none;
                }
                }
    
            }
            
            #attractionsherotext2{
                display: inline;
                grid-area: ht2;
                background-color: $lightblue;
                padding-left: 7%;
                padding-right: 7%;
                padding-top: 3%;
                padding-bottom: 5%;
                font-size: 20px;
    
            }
        }
    
        #attractionshero2{
            grid-area: h2;
            display:grid;
            grid-template-columns: 100%;
            grid-template-areas: 
            "ah2"
            "t1";
    
    
            #attractionsherospot2{
                grid-area: ah2;
                margin-right: 1%;

            }
    
            #text1{
                grid-area: t1;
                background-color: $ocean;
                color: white;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                margin-right: 1%;
                margin-left: 0%;
                margin-bottom: 0%;
                font-size: 20px;
            }
            padding-top: 3%;

            #ah2buttonflex{
                display: flex;
                justify-content: flex-end;
                #ah2button{
                    background-color: $green;
                    margin-right: 0%;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                    white-space: nowrap;
                    border: none;
                }
            }

        }
    
    
    
        #attractionshero3{
            grid-area: h3;
            display:grid;
            grid-template-columns: 100%;
            grid-template-areas: 
            "ah3"
            "t2";
            
    
            #attractionsherospot3{
                grid-area: ah3;
                margin-left: 1%;
            }
    
            #text2{
                grid-area: t2;
                background-color: $ocean;
                color: white;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 3%;
                padding-top: 3%;
                margin-right: 0%;
                margin-left: 1%;
                margin-bottom: 0%;
                font-size: 20px;
    
            }
            padding-top: 3%;

            #ah3buttonflex{
                display: flex;
                justify-content: flex-end;
                #ah3button{
                    background-color: $green;
                    margin-right: 0%;
                    color: $white;
                    font-family: 'Open Sans', sans-serif;
                    white-space: nowrap;
                    border: none;
                }
            }

        }
    
        #seemoreattractions{
            display: block;
            grid-area: b;
            background-color: $green;
            font-family: 'Open Sans', sans-serif;
            color: $white;
            font-size: 20px;
            margin-left: 1%;
            margin-left: 50%;
            margin-top: 2.5%;
            padding: 3%;
            border: none;
        }



        h1{
            font-family: 'PlayfairDisplay-Bold';
            font-size: 70px;
            color: $orange;
        }
    }


    @include lg{
        grid-template-columns: 10% 40% 40% 10%;
    }
    
    @include xl{
        grid-template-columns: 20% 30% 30% 20%;
    }
    
    }

