#contactus{
    margin-top: 10%;

    #contactusheader{
        font-family: 'PlayfairDisplay-Bold';
        font-size: 40px;
        color: #EFA541;
        margin-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .contactustextclass{
        font-family: 'Open Sans', sans-serif;
        margin-right: 30%;
        margin-left: 5%;

    }

    p{
        font-family: 'Open Sans', sans-serif;
    }
    #contact1{
        font-size: 16px;
        padding-bottom: 5%;
    }
    #contact2{
        font-size: 16px;
        padding-bottom: 5%;
    }
    #contact3{
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10%;
    }
    
    background-color: #D2E9FF;
    padding-top: 2%;
    padding-bottom: 8%;

    #contactusgrid{
        grid-area: contactus1;
    }
    #contactusicondiv{
        font-size: 40px;
        margin-left: 5%;
        padding-bottom: 5%;
    }



    @include md {
        .contactustextclass{
            margin-right: 5%;
            margin-left: 5%;
        }
        p{
            font-weight: bold;
            margin-right: 0%;
            margin-left: 0%;
        }
        #contactusheader{
            font-family: 'PlayfairDisplay-Bold';
            font-size: 70px;
            color: #EFA541;
            padding-top: 0%;
            padding-bottom: 0%;
        }
        #contact1{
            font-size: 25px;
            padding-bottom: 0%;
        }
        #contact2{
            font-size: 28px;
            padding-bottom: 0%;
        }
        #contact3{
            font-size: 30px;
            padding-bottom: 0%;
        }
    
        #contactusicondiv{
            display: flex;
            justify-content: space-between;
            font-size: 100px;
            padding-bottom: 0%;
        }
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: ". contactus1 .";
        background-color: #D2E9FF;
        padding-top: 2%;
        padding-bottom: 8%;
    
        #contactusgrid{
            grid-area: contactus1;
        }
    }
    @include lg {
        grid-template-columns: 10% 60% 30%;
        .contactustextclass{
            margin-right: 30%;
            margin-left: 5%;
        }
    }

    @include xl{
        grid-template-columns: 10% 50% 40%;

    }
}