/* =============
    Discoverypass
============= */
#discoverypass{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "h"
    "lc"
    "rc"
    "b";

    p{
        font-size: 16px;
    }

    #discoverypassheading{
        grid-area: h;
        h1{
            font-family: 'PlayfairDisplay-Bold';
            font-size: 40px;
            color: #EFA541;
            margin-left: 5%;
        }
        p{
            margin-left: 5%;
            margin-right: 5%;
            padding-bottom: 7%;
            border-bottom: 8px solid #1B4561;
        }
    }
    #leftcolumn{
        grid-area: lc;
        border-bottom: 8px solid #1B4561;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 7%;
        p{
            font-size: 16px;
        }
    }
    #rightcolumn{
        grid-area: rc;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 7%;
        p{
            font-size: 16px;
        }
    }
    #discoverybuttonflex{
        grid-area: b;
        display: flex;
        justify-content: center;
        #discoverybutton{
            background-color: #408274;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 3%;
            padding-bottom: 3%;
            color: white;
            font-family: 'Open Sans', sans-serif;
            margin-top: 5%;
        }
    }







    @include md {
        grid-template-columns:10% 26.6% 26.6% 26.6% 10%;
        grid-template-areas:
        ". h h h ."
        ". lc lc rc ."
        ". lc lc b .";


        h2{
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
        }
        h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
        }
        p{
            font-size: 16px;
        }
    
    
        #discoverypassheading{
            grid-area: h;
            h1{
                font-size: 70px;
                margin-left: 0%;
            }
            p{
                margin-left: 0%;
                margin-right: 0%;
                padding-bottom: 0%;
                border-bottom: none;
            }
        }
        #leftcolumn{
            grid-area: lc;
            border-right: 8px solid #1B4561;
            border-bottom: none;
            padding-right: 5%;
            margin-left: 0%;
            margin-right: 0%;
            padding-bottom: 0%;
            p{
                font-size: 16px;
            }
        }
        #rightcolumn{
            padding-left: 15%;
            grid-area: rc;
            p{
                font-size: 16px;
            }
            }
            #discoverybuttonflex{
                grid-area: b;
                justify-content: flex-end;
                align-content: flex-end;
                #discoverybutton{
                    background-color: #408274;
                    margin-left: 30%;
                    margin-right: 0%;
                    margin-top: 20%;
                    padding-left: 10%;
                    padding-right: 10%;
                    color: white;
                    font-weight: bold;
                    white-space: nowrap;
                }
        }
    }

    @include lg{
        grid-template-columns:15% 23.3% 23.3% 23.3% 15%;
        p{
            font-size: 20px;
        }
        #rightcolumn{
            p{
                font-size: 20px;
            }
        }
        #leftcolumn{
            p{
                font-size: 20px;
            }
        }
    }

    @include xl{
        grid-template-columns:20% 20% 20% 20% 20%;
    }


}