#feelthepower{
    margin-top: 10%;
    #circlehero2div{
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        #circlehero2{
            width: 60%;
            height: 60%;
        }
    }

    #feelthepowerdiv{
        margin-bottom: -5%;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-areas:
        ". h ."
        ". p .";
        color: #1B4561;
        #feelthepowerh{
            grid-area: h;
            h2{
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 20px;
            }
            
        }
        #feelthepowerp{
            grid-area: p;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        padding-bottom: 5%;
    }

    @include md{
        #feelthepowerdiv{
            grid-template-columns: 50% 40% 10%;
            #feelthepowerh{
                h2{
                    font-size: 20px;
                }
                margin-bottom: -8%;
            }
            p{
                font-size: 20px;
            }
        }
    }

    @include lg{
        #feelthepowerdiv{
            grid-template-columns: 45% 40% 15%;
            #feelthepowerh{
                h2{
                    font-size: 25px;  
                }
                margin-bottom: -8%;
            }
            p{
                font-size: 20px;
            }
        }
    }

    @include xl{
        #circlehero2div{
            #circlehero2{
                width: 50%;
                height: 50%;
            }
        }
        #feelthepowerdiv{
            margin-bottom: -8%;
            #feelthepowerh{
                h2{
                    font-size: 50px; 
                }
                margin-bottom: -8%;
            }
        }
    }
}