/* =============
    history
============= */

#history{
    background-color: #1B4561;
    color: white;
    padding-bottom: 17%;
    padding-top: 10%;
    p{
        margin-right: 5%;
        margin-left: 5%;
        font-size: 16px;
    }
    h1{
        font-family: 'PlayfairDisplay-Bold';
        font-size: 40px;
        color: #EFA541;
        margin-left: 5%;
    }
    #historyhero1{
        width: 100%;
    }
    #historyhero2{
        width: 100%;
    }
    #historyhero3{
        width: 100%;
    }

    @include md{
        padding-right: 10%;
        padding-left: 10%;
        p{
            margin-right: 0%;
            margin-left: 0%;
        }
    }

    @include lg {
        padding-top: 8%;
        padding-bottom: 6%;
        padding-right: 0%;
        padding-left: 0%;
        
        h1{
            margin-left: 0%;
        }
    
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-areas:
        ". h h ."
        ". cr cl1 ."
        ". cr cl2 .";
    
        #historyheader{
            grid-area: h;
        }
    
        #historycolumn1{
            grid-area: cr;
            #historyhero1{
                width: 100%;
            }
            margin-right: 1.5%;
        }
    
        #historycolumn2{
            grid-area: cl1;
            #historyhero2{
                width: 100%;
            }
            margin-left: 1.5%;
        }
    
        #historycolumn3{
            grid-area: cl2;
            #historyhero3{
                width: 100%;
            }
            margin-left: 1.5%;
        }
    }

    @include xl{
        grid-template-columns: 2% 48% 48% 2%;
        h1{
            font-size: 70px;
        }
        p{
            font-size: 18px;
        }
    }
}
    