#mapanddirections{
    background-color: #1B4561;
    padding-top: 10%;
    color: white;

    #mapheader{
        margin-left: 5%;
        grid-area: mh;
        font-family: 'PlayfairDisplay-Bold';
        font-size: 18px;
        color: #EFA541;
        white-space: nowrap;
    }

    #googlemap{
        iframe{
            left: 0;
            top: 0;
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 480px;
        }
        }

    #mapanddirectionstext{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 15%;
        padding-top: 5%;
        font-size: 16px;
    }


    @include md {
        padding-top: 5%;
        padding-bottom: 0%;
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-areas: 
        ". mh mh ."
        ". mt mm .";
    
        #mapheader{
            margin-left: 0%;
            grid-area: mh;
            font-family: 'PlayfairDisplay-Bold';
            font-size: 35px;
            color: #EFA541;
        }
        #mapanddirectionstext{
            padding-left: 0%;
            padding-right: 0%;
            margin-left: 0%;
            margin-right: 6%;
            padding-bottom: 0%;
            grid-area: mt;
            p{
                font-size: 18px;
            }
        }
        #googlemap{
            grid-area: mm;
            display: inline;
            iframe{
                left: 0;
                top: 0;
                position: relative;
                width: 100%;
                height: unset;
                max-height: 100px;
                min-height: 600px;
            }
        }
        padding-bottom: 8%;
        background-color: #1B4561;
        color: white;
    }

    @include xl{
        grid-template-columns: 10% 40% 40% 10%;
    }

}
