#parking{
    margin-top: 10%;


    h1{
        font-family: 'PlayfairDisplay-Bold';
        font-size: 40px;
        color: #EFA541;
        margin-left: 5%;
    }
    p{
        font-size: 16px;
        margin-right: 5%;
        margin-left: 5%;
    }


    @include xl {
        h1{
            font-family: 'PlayfairDisplay-Bold';
            font-size: 70px;
            color: #EFA541;
            margin-left: 0%;
        }
        p{
            font-size: 18px;
            margin-right: 0%;
            margin-left: 0%;
        }
        display: grid;
        grid-template-columns: 35% 30% 35% ;
        grid-template-areas: ". parkingdiv .";
        #parkingdiv{
            grid-area: parkingdiv;
        }
    }
}