/* =============
    planyourtrip
============= */

#planyourtrip{

    margin-top: 10%;

    h2{
        color: #1B4561;
        font-family: 18px;
    }

    .planyourtripbuttonflex{
        display: flex;
        justify-content: center;
        .planyourtripbutton{
            background-color: #408274;
            border: none;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }
    }

    #pg1{
        #pg1hero{
            width: 100%;
            height: 100%;
        }
        margin-bottom: 8%;
    }
    #pg2{
        padding: 3%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 12%;

    }
    #pg3{
        #pg3hero{
            width: 100%;
            height: 100%;
        }
        margin-bottom: 8%;
    }
    #pg4{
        padding: 3%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 12%;
    }
    #pg5{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: white;
        background-color: #1B4561;
        padding: 8%;
        margin-bottom: 12%;
        #pg5header1{
            color: white;
        }
    }
    #pg6{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: white;
        background-color: #1B4561;
        padding: 12%;
        margin-bottom: 25%;
        #pg6header1{
            color: white;
        }
    }
    
    @include md{
        h2{
            font-size: 20px;
        }
        #plangrid{
            display: grid;
            grid-template-columns: 5% 45% 45% 5%;
            grid-template-areas: 
            ". pg1h pg2h ."
            ". pg1 pg3 ."
            ". pg2 pg4 ."
            ". pg5 pg6 .";

            #pg1h{
                grid-area: pg1h;
                margin-right: 2%;
            }
            #pg2h{
                grid-area: pg2h;
                margin-left: 2%;
            }
            #pg1{
                grid-area: pg1;
                margin-top: 2%;
                margin-right: 2%;
                margin-bottom: 2%;
            }
            #pg2{
                grid-area: pg2;
                background-color: #D2E9FF;
                margin-left: 0%;
                margin-right: 2%;
                margin-top: 2%;
                margin-bottom: 2%;
            }
            #pg3{
                grid-area: pg3;
                margin-left: 2%;
                margin-top: 2%;
                margin-bottom: 2%;
            }
            #pg4{
                grid-area: pg4;
                background-color: #D2E9FF;
                margin-left: 2%;
                margin-top: 2%;
                margin-bottom: 2%;
                margin-right: 0%;
            }
            #pg5{
                grid-area: pg5;
                margin-right: 2%;
                margin-top: 2%;
                margin-bottom: 2%;
            }
            #pg6{
                grid-area: pg6;
                margin-left: 2%;
                margin-top: 2%;
                margin-bottom: 2%;
            }
        }
    }
    

    @include xl {
        h2{
            font-size: 30px;
        }
        #plangrid{
            display: grid;
            grid-template-columns: 2% 32% 32% 32% 2%;
            grid-template-areas: 
            ". pg1h pg2h . ."
            ". pg1 pg3 pg5 ."
            ". pg2 pg4 pg6 .";
        }

        #plangrid{
            #pg3{
                margin-right: 2%;
                margin-bottom: 2%;
            }
            #pg4{
                margin-right: 2%;
            }
            #pg5{
                margin-left: 2%;
                margin-top: 0%;
                margin-right: 0%;
            }
            #pg6{
                margin-left: 2%;
                margin-right: 0%;
            }
        }

        
    }
}
