#videocontainer{
    #videoimg{
        #video{
            max-width: 100%;
        }
    }

    #videotext{
        background-color: #D2E9FF;
        display: flex;
        background-image: url(../img/Videobackground.png);
        min-width: 30vh;
        min-height: 50vh;
        max-height: 100%;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        p{
            font-size: 16px;
            margin-right: 5%;
            margin-left: 5%;
            margin-bottom: 35%;
        }
        margin-top: -1%;
    }


    @include md{ 

        #videotext{
            p{
                padding-top: 5%;
                margin-right: 40%;
                
            }
        }
    }

    @include lg{

        #videotext{
            p{
                font-size: 30px;
            }
        }
    }



    @include xl{

        #videotext{
            min-height: 80vh;
            p{
                font-size: 40px;
                margin-top: -1%;
            }
        }
    }
    }